<div class="rightdiv__book">
    <img class="rightdiv__book-img" src="{{img}}" alt="{{book}}">
    <div class="rightdiv__book-info">
        <h2 class="rightdiv__book-title">{{title}}</h2>
        <p class="rightdiv__book-author">{{author}}</p>
        <p class="rightdiv__book-plot">{{plot}}</p>
    </div>
</div>